<head>
    <%= stylesheet_link_tag 'application.css' %>
</head>

<body>
    <div id="container">
        <div id="image-container">
            <img id="image" src="/welcome.jpeg">
        </div>
        <div id="text-container">
            <h1 id="title">Welcome to delivery!</h1>
            <button id="button-style">Login</body>
        </div>
    </div>
</body>

