 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
body {
    margin: 0;
    padding: 0;
  }

  :root {
    --dark-blue: #2c5c8f;
    --white: #fff;
    --dark-gray: #48484d;
    --red: #cc4b4e;
    --yellow: #F29F05;
    --light-blue: #b8c9e6;
    --green: #33a33c;
    --purple: #504c9c;
    --medium-blue: #1bded8;
    --hover-blue: #142a42;
  }

  .global-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: auto;
  }

  .image-container {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    gap: 10px;
    border-bottom: 1px solid var(--dark-gray);
  }  

  .header-inline {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

   .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50%;
    gap: 15px;
  }

  .small-transparent-button {
    background-color: transparent;
    color: var(--dark-blue);
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.875rem;
    font-family: 'Poppins';
    font-weight: 700;
    width: auto;
    height: 2rem;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .small-green-button,
  .small-red-button,
  .small-blue-button,
  .small-yellow-button,
  .small-gray-button,
  .medium-blue-button, 
  .medium-red-button, 
  .medium-green-button, 
  .medium-yellow-button, 
  .medium-gray-button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.875rem;
    font-family: 'Poppins';
    font-weight: 700;
    width: 6rem;
    height: 2rem;
    color: white;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .medium-blue-button:hover {
    opacity: 0.8;
  }

.small-blue-button, .medium-blue-button, .large-blue-button {
  background-color: var(--dark-blue);
}

.small-yellow-button, .medium-yellow-button {
  background-color: var(--yellow);
}

.small-green-button, .medium-green-button {
  background-color: var(--green);
}

.small-red-button, .medium-red-button {
  background-color: var(--red);
}

.small-gray-button, .medium-gray-button {
  background-color: var(--dark-gray);
}

.large-blue-button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
    font-family: 'Poppins';
    font-weight: 700;
    width: 18.75rem;
    height: 2.8rem;
    color: white;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium-blue-button, 
.medium-red-button, 
.medium-green-button, 
.medium-yellow-button, 
.medium-gray-button  {
  width: 10rem;
  height: 2.8rem;
}

.access_container{
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  width: 600px;
  max-height: 800px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: center;
}

.title-styled {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: var(--dark-blue);
  text-align: center;
  padding: 15px;
}

.text-styled {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--dark-gray);
  }

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 560px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.field {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-gray);
}

.field input[type="checkbox"] {
  margin-right: 0.5rem;
}

.actions {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  gap:5px;
}

.field select {
  width: 200px;
    height: 2.8rem;
    font-family: 'Poppins';
    color: var(--dark-gray);
    padding: 5px;
}

.management {
  margin: 2%;
}

.management-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.management-item {
  flex: 0 1 calc(30% - 20px);
  max-width: 20rem;
  margin: 1rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  cursor: pointer; 
}

.management__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.management__info {
  text-align: center;
}

h2 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-gray);
  text-decoration: none;
}

.management-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
}

.inline-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  gap: 10px;
}

.column-start-container {
  padding: 10px;
  display: flex-start;
  flex-direction: column;
  align-items: center;
  height: 3rem;
}

.big-column-start-container {
  padding: 10px;
  display: flex-start;
  flex-direction: column;
  align-items: center;
  height: auto;
}
 
